.new-tweet {
  display: none;
  width: 100%;
  margin-bottom: 2em;

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 10px;
    font-weight: bold;
  }

  textarea {
    margin-bottom: 15px;
    padding: 0 10px;
    border: none;
    border-bottom: 4px solid $darkgrey;
    background-color: transparent;
  }

  div {
    display: flex;
    justify-content: space-between;
  }

  button {
    padding: 5px 15px;
    border: none;
    background-color: $primary;
    color: $white;
    font-family: $bungee;

    &:hover {
      background-color: darken($primary, 10%);
      cursor: pointer;
    }
  }

  output {
    font-family: $bungee;
  }

  .tweet-error {
    display: none;
    margin-bottom: 1em;
    padding: 0.5em;
    border: 4px solid $error;
    color: $error;
    font-weight: bold;

    p {
      margin: 0;
    }

    i {
      margin-right: 0.5em;
    }
  }
}

.tweet-char-error {
  color: $error;
}