header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #8E8A85;
  background-image: url('/images/debut-light.png');
  color: #FFFFFF;
}